<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-2 fw-medium mt-0">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="../index.html">22-Maktab</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="align-items: center;">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 nav-underline"
                        style="align-items: center;">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Bosh sahifa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="AboutPage.html">Biz haqimizda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="CoursesPage.html">Kurslar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="NewsPage.html">Yangiliklar</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="EventsPage.html" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Tadbirlar
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="EventsPage.html">Tadbirlar</a></li>
                                <li><a class="dropdown-item" href="MeetingPage.html">Online tadbirlar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="BooksPage.html">Kitoblar</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-globe fs-4"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" language='uzbek'>UZ</a></li>
                                <li><a class="dropdown-item" href="#" language='russian'>RU</a></li>
                                <li><a class="dropdown-item" href="#" language='english'>EN</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="btn btn-outline-success" style="align-items: center; display: flex; height: 6%;"
                        href="SignIn.html">Tizimga
                        kirish</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <p class=" text-center pt-5 mt-5">CHOOSE WHERE YOU'D LIKE TO BEGIN</p>
        <h1 class="title text-center pb-5">Latest Featured Courses</h1>
        <div class="row">
            <div class="col-4">
                <div class="card border-0">
                    <img src="../media/pictures/homeImage1.png" alt="" class="card-img-top">
                    <div class="car-body p-4">
                        <h5 class="card-title">Personal Finance: Financial Security Thinking & Principles</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="../media/pictures/homeImage1.png" alt="" class="card-img-top">
                    <div class="car-body p-4">
                        <h5 class="card-title">Personal Finance: Financial Security Thinking & Principles</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="../media/pictures/homeImage1.png" alt="" class="card-img-top">
                    <div class="car-body p-4">
                        <h5 class="card-title">Personal Finance: Financial Security Thinking & Principles</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="../media/pictures/homeImage1.png" alt="" class="card-img-top">
                    <div class="car-body p-4">
                        <h5 class="card-title">Personal Finance: Financial Security Thinking & Principles</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="../media/pictures/homeImage1.png" alt="" class="card-img-top">
                    <div class="car-body p-4">
                        <h5 class="card-title">Personal Finance: Financial Security Thinking & Principles</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card border-0">
                    <img src="../media/pictures/homeImage1.png" alt="" class="card-img-top">
                    <div class="car-body p-4">
                        <h5 class="card-title">Personal Finance: Financial Security Thinking & Principles</h5>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center text-lg-start bg-white text-muted">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <div class="me-5 d-none d-lg-block">
                    <span>Ijtimoiy tarmoqlarda biz bilan bog'laning:</span>
                </div>
                <div>
                    <a href="https://t.me/schoool22" class="me-4 link-secondary fs-3 "><i
                            class="bi bi-telegram"></i></a>
                    <a href="https://www.facebook.com/22maktab/" class="me-4 link-secondary fs-3"><i
                            class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/invites/contact/?i=huyqoij6twn2&utm_content=spn4ji5"
                        class="me-4 link-secondary fs-3"><i class="bi bi-instagram"></i></a>

                </div>
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4"><i
                                    class="bi bi-building me-3 text-secondary"></i>22-Maktab</h6>
                            <p>Maktabimiz haqidagi barcha ma'lumotlarni oldingiz degan umiddaman.Siz bizning web site
                                mizdan
                                foydalanganingiz uchun katta raxmat!</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Ma'lumotlar</h6>
                            <p><a href="../index.html" class="text-reset">Bizning sahifa</a></p>
                            <p><a href="AboutPage.html" class="text-reset">Biz haqimizda</a></p>
                            <p><a href="CoursesPage.html" class="text-reset">Kurslar</a></p>
                            <p><a href="NewsPage.html" class="text-reset">Yangiliklar</a></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Ma'lumotlar</h6>
                            <p><a href="EventsPage.html" class="text-reset">Tadbirlar</a></p>
                            <p><a href="BooksPage.html" class="text-reset">Kitoblar</a></p>
                            <p><a href="MeetingPage.html" class="text-reset">Online tadbirlar</a></p>
                            <p><a href="SignIn.html" class="text-reset">Tizimga kirish</a></p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">Bog'lanish</h6>
                            <p><i class="bi bi-geo-alt-fill me-3 text-secondary"></i>86MX+W5R, 26 Shimoliy Olmazor Str.,
                                Тоshkent 100019, Узбекистан</p>
                            <p><i class="bi bi-envelope me-3 text-secondary"></i>info@example.com</p>
                            <p><i class="bi bi-telephone me-3 text-secondary"></i> +998712273527</p>
                            <p><i class="bi bi-telephone-fill me-3 text-secondary"></i>+998712273527</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                <p>
                    <span class="fw-bold fs-6">Asoschilar: </span>
                    <a href="https://t.me/khatamov_oo7">Xatamov Abdulmajid</a>
                    |
                    <a href="https://t.me/m_al1yy">Zokirov Habibulloh</a>
                    |
                    <a href="https://t.me/MR_Xashmedbobo">Sadriddinov Xushnudbek</a>
                    |
                    <a href="https://t.me/muzaffardev">Mirzakarimov Muzaffar</a>
                </p>
                <p>© 2023</p>
            </div>
        </footer>
        <script src="../css/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
</body>

</html>